<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="TrainingsRapportConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\TESTDATA_TrainingsTool\Test_TrainingsDB\TrainingsRapport.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ACBEO_TrainingsTool_NEW_WPF.Properties.Settings.TrainingsRapportConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\TESTDATA_TrainingsTool\Test_TrainingsDB\TrainingsRapport.mdf;Integrated Security=True" />
  </connectionStrings>
</configuration>