<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TrainingsRapportConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\ACBEO_TrainingsDB\TrainingsRapport.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>